#PostIt {
  border-radius: 25px;
  background: #008B8B;
  padding: 20px;
  width: 50px;
  height: 50px;
}

/*#addNote {
  border-radius: 25px;
  background: £008B8B;
  padding: 20px;
  width: 50px;
  height: 50px;
}*/

#tekst {
  border-radius: 25px;
  background: #008B8B;
  padding: 20px;
  width: 50px;
  height: 50px;
}
